/*-------- Button --------*/

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 64px;
    padding: 0 20px;

    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100px;

    font-family: $font-b;
    font-size: 20px;
    color: $black;

    transition: color 0.2s cubic-bezier(0.19, 1, 0.22, 1), background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1),
        border-color 0.2s cubic-bezier(0.19, 1, 0.22, 1);

    &:hover,
    &.active {
        background-color: transparent;
        color: #ffffff;
    }
}

.button {
    &--header {
        height: 48px;
        padding: 0 37px;
        font-size: 16px;
    }
}

.button {
    &--blue {
        background-color: $blue;
        border-color: $blue;
        color: #ffffff;
    }

    &--blue:hover {
        color: $blue;
    }
}

@media (max-width: 479px) {

    .button {
        height: 48px;
        font-size: 14px;
        padding: 0 10px;
    }

    .button {

        &--header {
            height: 36px;
            padding: 0 20px;
        }
    }
}