@font-face {
    font-family: 'Aeonik';
    src: url('subset-Aeonik-Regular.woff2') format('woff2'),
        url('subset-Aeonik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik-Bold';
    src: url('subset-Aeonik-Bold.woff2') format('woff2'),
        url('subset-Aeonik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

